<ng-container
*ngIf="products.length"
>
  <div class="productComponent"
       *ngFor="let product of products">
    <button
      routerLink="color"
    >Показать ресурсы</button>

    <h2>{{product.first_name}} {{product.last_name}}</h2>
    <div>{{product.email}}</div>
    <img [src]="product.avatar">
    <div class="moreInfo">
      <button
        routerLink={{product.id}}
        (click)="onClickByButton(product)"
      >Подробно
      </button>
    </div>
    <div>
      <button
        (click)="onClickDelete(product.id)"
      >Удалить пользователя</button>
    </div>
  </div>
</ng-container>
